.footer {
    background-color: $main-gray;
    width: 96vw;
    max-width: 95%;
    margin: 1rem auto 1.5rem;
    padding: 5rem 3.5rem;
    @include displayFlex(row, space-between, center);

    &__heading {
        height: 100%;
        @include displayFlex(row, center, center);

        h2 {
            font-size: 2.25rem;
            font-weight: 300;
            color: #505050;
            line-height: 2.5rem;
            letter-spacing: .1rem;
        }

        h2 span {
            display: block;
            font-weight: 700;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
        @include displayFlex(row, flex-end, center);
        width: 50rem;
        max-width: 75%;
    }

    &__listItem {
        @include displayFlex(row, center, center);
        margin-left: 3rem;
        width: 19%;

        img {
            width: 100%;
        }
    }
}

// media queries
@media(max-width: 1025px) {
    .footer {
        justify-content: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        &__heading {
            display: none;
        }

        &__list {
            width: 100%;
            max-width: 100%;
            justify-content: space-between;
            margin: 0;

            &Item {
                width: 5rem;
                margin: 0;
            }
        }
    }
}

// media queries
@media(max-width: 700px) {
    .footer {
        &__list {
            flex-wrap: wrap;
            justify-content: center;

            &Item {
                width: 40%;
                margin-bottom: 2.5rem;

                img {
                    width: 50%;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}